a.title {
	text-decoration: none;
	color: black;
	letter-spacing: -0.5px;
	h1 {
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			height: 1.2em;
			margin-right: 18px;			
		}
	}
}

section.padding {
	padding-top: 120px;
	padding-bottom: 120px;
}

.footer {
	margin-top: 40px;
	padding-top: 40px;
}