* {
    box-sizing: border-box;
}

html{

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
        Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    img {
        max-width: 100%;
    }
}


.censored {
    position: relative;
    color: transparent;

    &:after {
        background: rgba(228, 228, 228, 1);
        position: absolute;
        content: '';
        transform: rotate(-5deg);
        top: 0; left: 0; right: 0; bottom: 0;
    }

    &:before {
        position: absolute;
        content: '🤬';
        z-index: 999;
        font-style: normal;
        font-size: 1.3em;
        text-align: center;
        opacity: 1;
        color: black;
        top: -0.3em; left: 0; right: 0; bottom: 0;
    }
}